.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }
  
  .logo {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
  }
  
  .spacer {
    flex: 1;
  }
  img{
    height: -5px;
    width: 93px;
  }
  .mat-mdc-menu-item:has(.material-icons,mat-icon,[matButtonIcon]) {
    padding-left: var(--mat-menu-item-with-icon-leading-spacing, 17px);
    padding-right: var(--mat-menu-item-with-icon-trailing-spacing, 92px);
}
  