:host {
    width: 250px;
    background-color: #f3f6fa;
    height: 100vh;
    padding-top: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
  }
  
  mat-icon {
    margin-right: 12px;
    font-size: 20px;
    vertical-align: middle;
  }
  
  a.mat-list-item {
    font-weight: 500;
    display: flex;
    align-items: center;  // Ensures text and icon are vertically aligned
    gap: 12px;            // Adds spacing between icon and text
  }
  
  .submenu {
    padding-left: 2rem;
  
    a.mat-list-item {
      font-size: 14px;
      padding-left: 2rem;
      min-height: 40px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  
    mat-icon {
      font-size: 18px;
    }
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  