/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
// :root {
//   @include mat.snack-bar-overrides((
//     button-color: orange,
//     container-color: red,
//   ));
// }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// ::ng-deep .mat-mdc-snack-bar-container.success {
//     --mdc-snackbar-container-color: #f44336; // red background
//     --mdc-snackbar-supporting-text-color: #fff;
//     --mat-mdc-snack-bar-button-color: #fff;
//   }
  

//   .mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
//     background-color: rgb(86, 32, 224);
//   }
//   .mat-mdc-snack-bar-container .mat-mdc-snackbar-surface{
//     background-color: green;
//   }

.mat-drawer-inner-container::-webkit-scrollbar {
    display: none;}